@font-face {
  font-family: 'shadowsIntoLightTwo';
  src: url('../fonts/ShadowsIntoLightTwo-Regular.woff2') format('woff2'),
    url('../fonts/ShadowsIntoLightTwo-Regular.woff') format('woff');
}
body {
  font-family: $gaedi-lato-regular;
  font-weight: 400;
}
h1,
h2 {
  font-family: $gaedi-shadowsIntoLightTwo;
}

header {
  a {
    font-weight: 700;
  }
}
