/* @font-face {
  font-family: 'CabinetGroteskExtrabold';
  src: url('../fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
    url('../fonts/CabinetGrotesk-Extrabold.woff') format('woff');
} 



h1 {
  font-family: $wink-CabinetGroteskLight;
  strong {
    font-family: $wink-CabinetGroteskExtrabold;
  }
}
*/
