footer {
  color: white;
  background-color: $gaedi-brown;
  padding-top: toRem(96);
  margin-top: toRem(120);
  .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
    p,
    a {
      font-size: toRem(20);
    }
    a {
      color: white;
      &:hover {
        color: black;
      }
    }
    .footerwidgetcol1 {
      .ort {
        @include media($until: 'xl') {
          display: block;
        }
      }
      a {
        &:last-child {
          @include media($until: 'xl') {
            display: block;
          }
        }
      }
    }
    .footerwidgetcol2 {
      @include media($until: 'md') {
        margin-top: toRem(30);
      }
      .menu {
        .menu-item {
          a {
            &:before {
              content: '';
              background-image: escape-svg($arrow-right-white);
              width: 38px;
              height: 24px;
              display: block;
              background-repeat: no-repeat;
              background-size: 30px;
              position: absolute;
              margin-left: -38px;
            }
            &:hover {
              &:before {
                content: '';
                background-image: escape-svg($arrow-right-black);
              }
            }
          }
        }
      }
    }

    .footerwidgetcol3 {
      text-align: right;
      @include media($until: 'lg') {
        margin-top: toRem(30);
      }
      .widget_text {
        padding-top: toRem(20);
      }
    }
    .footer-bottom {
      border-top: 2px solid white;
      margin-top: toRem(30);
      padding: 0;
      .wp-block-column {
        flex-basis: auto !important;
      }
      .wp-container-1 {
        p {
          margin-top: toRem(20);
        }
      }
      .wp-container-2 {
        text-align: right;
        svg {
          &.insta {
            margin-top: toRem(6);
            width: toRem(47);
          }
          &.facebook {
            width: toRem(40);
          }
          path {
            fill: white;
          }
        }
      }
    }
  }
}
