.gaedi-carousel {
  &.teaser-image-text {
    margin-top: toRem(160);
    @include media($until: 'sm') {
      margin-top: toRem(60);
    }
  }
  &.three-items-fullwidth {
    .carousel {
      padding: 0;
      .carousel-item {
        background-color: transparent;
        .wp-block-group__inner-container {
          img {
            height: inherit;
            width: inherit;
            object-fit: inherit;
          }
        }
      }
      .carousel-control-prev {
        margin-right: 5.2%;
        @include media($until: 'lg') {
          margin-right: 1.5vw;
        }
      }
      .carousel-control-next {
        margin-right: 5%;
        @include media($until: 'lg') {
          margin-right: 2vw;
        }
      }
    }
  }
  &.one-item-containerwidth {
    @include make-container(8vw);
    .carousel {
      padding: 0;
      .carousel-item {
        .wp-block-group__inner-container {
          margin-right: inherit;
        }
      }
      .carousel-control-prev {
        margin-right: 5.2%;
        @include media($until: 'lg') {
          margin-right: 1.5vw;
        }
      }
      .carousel-control-next {
        margin-right: 5%;
        @include media($until: 'lg') {
          margin-right: 2vw;
        }
      }
    }
  }
  @include media($until: 'xl') {
    .wp-block-columns {
      &:first-child {
        .col-12 {
          h2 {
            padding: 0;
          }
        }
      }
    }
  }
  .wp-block-columns {
    &:last-child {
      margin-right: -11vw;
      @include media($from: 'sm', $until: 'lg') {
        margin-right: -22vw;
      }
      @include media($until: 'sm') {
        margin-right: initial;
      }
    }
  }

  @include media($until: 'sm') {
    .wp-block-columns {
      &:first-child {
        .col-12 {
          padding-left: 23px;
          h2 {
            padding: 0;
          }
        }
      }
      &:last-child {
        .carousel {
          margin: auto 15px;
          @include media($until: 'sm') {
            margin: 0;
            padding-left: 15px;
            padding-right: 3px;
            .carousel-inner {
              width: 267vw;
            }
          }
        }
      }
    }
  }
  .carousel-item {
    background-color: $gaedi-beige;
    .wp-block-group__inner-container {
      margin-right: 30px;
      @include media($until: 'lg') {
        margin-right: toRem(15);
      }

      img {
        height: toRem(305);
        width: toRem(305);
        object-fit: cover;
      }
      p {
        width: toRem(305);
        margin-top: toRem(10);
        font-size: toRem(17);
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      &.active {
        display: flex;
      }
    }
    .carousel-item-next,
    .carousel-item-prev {
      float: left;
      display: flex;
    }
  }

  .carousel-inner {
    .carousel-item-end,
    .carousel-item-start {
      transform: translateX(0);
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    left: inherit;
    top: -61px;
    @include media($until: 'sm') {
      top: -50px;
    }
    bottom: inherit;
    opacity: 1;
    width: 33px;
  }
  .carousel-control-prev {
    right: 165px;
    @include media($until: 'sm') {
      right: toRem(60);
    }
    .carousel-control-prev-icon {
      background-image: escape-svg($arrow-left-black);
    }
  }
  .carousel-control-next {
    right: 125px;
    @include media($until: 'sm') {
      right: toRem(20);
    }
    .carousel-control-next-icon {
      background-image: escape-svg($arrow-right-black);
    }
  }

  + .wp-block-group {
    margin-top: toRem(120);
    @include media($until: 'sm') {
      margin-top: toRem(60);
    }
  }
}
