.section-dark-bg-icons-text {
  padding-top: toRem(120);
  padding-bottom: toRem(120);

  background-color: $gaedi-beige-dark;
  .wp-block-columns {
    @include media($until: 'xxl') {
      &.gx-6 {
        --bs-gutter-x: inherit;
      }
    }
    .wp-block-column {
      text-align: center;
      .wp-block-image {
        margin-bottom: toRem(40);
        img {
          height: toRem(80);
        }
      }
      @include media($until: 'lg') {
        &:not(:first-child) {
          margin-top: toRem(60);
        }
      }
    }
    @include media($until: 'lg') {
      &.gx-6.pt-5 {
        padding: 0 !important;
      }
      &:not(:first-child) {
        margin-top: toRem(60);
      }
    }
  }
  &.noBg {
    background-color: transparent;
    margin-top: 0;
    + .wp-block-group {
      margin-top: 0;
    }
  }
  + .wp-block-group {
    margin-top: toRem(140);
  }
}
