.accordion-items {
  @include media($from: 'lg') {
    @include make-container(5%);
  }
  .wp-block-pb-accordion-item {
    background-color: white;
    padding-top: toRem(20);

    padding-left: toRem(20);
    padding-right: toRem(20);

    border-bottom: toRem(20) solid $gaedi-beige;
    .c-accordion__title {
      margin-bottom: toRem(15);

      &:after {
        content: '';
        background-image: escape-svg($chevron-down-black);
        background-repeat: no-repeat;
        position: absolute;
        width: toRem(40);
        height: 100%;
        z-index: 9;
        top: toRem(24);
        right: toRem(7);
        background-size: 80%;
      }
      &[aria-expanded='true'] {
        &:after {
          background-image: escape-svg($chevron-up-black);
        }
      }
    }
    div {
      padding-top: toRem(20);
      padding-bottom: toRem(80);
      p {
        @include media($from: 'lg') {
          max-width: 80%;
        }
      }
    }
  }
  + .wp-block-group {
    margin-top: toRem(140);
  }
}
