.header-teaser {
  .container {
    padding-right: 0;
    background-color: $gaedi-beige;

    @include media($until: 'xl') {
      padding-left: 0;
      background-color: $gaedi-beige-dark;
    }
    background-image: url('../img/bg-beige-dark.png');

    background-repeat: repeat-x;
    background-size: 44%;
    @include media($until: 'lg') {
      background-image: none;
      background-color: transparent;
      background-size: 34%;
    }
    .col-lg-6 {
      &:last-child {
        figure {
          img {
            min-width: 100%;
            @include media($until: 'lg') {
              position: absolute;
              left: 0;
              z-index: -1;
            }
          }
        }
      }

      &:first-child {
        display: grid;
        align-content: center;
        @include media($from: 'xl') {
          margin-bottom: toRem(65);
        }
        .wp-block-group {
          padding-left: 5%;
          padding-right: 5%;
          @include media($until: 'lg') {
            margin-top: 40vh;
            padding-top: toRem(40);
            padding-bottom: toRem(40);
            text-align: center;
            background-color: $gaedi-beige-dark;
          }
          @include media($from: 'md', $until: 'lg') {
            margin-top: 60vh;
          }
          @include media($until: 'sm') {
            margin-top: 40vh;
          }
          @include media($until: 'xl') {
            h1 {
              font-size: toRem(35);
            }
          }
          @include media($until: 'lg') {
            p {
              padding-top: toRem(20);
              padding-bottom: toRem(0);
            }
          }
          .wp-block-buttons {
            .wp-block-button {
              margin-top: toRem(20);
              &.is-style-outline {
                .wp-block-button__link {
                  @include gaedi-button(true);
                }
              }
              &:last-child {
                .wp-block-button__link {
                  @include gaedi-button();
                }
              }
              &:nth-child(2) {
                margin-left: toRem(10);
              }
            }
          }
        }
      }
    }
  }
  &.iframe {
    @include media($until: 'lg') {
      padding: 0;
      overflow: hidden;
    }
    .wp-block-group__inner-container {
      .wp-block-columns {
        .wp-block-column {
          .container {
            background-size: toRem(680);
            @include media($until: 'lg') {
              max-width: 100%;
            }
            .col-lg-6 {
              &:first-child {
                .wp-block-group {
                  @include media($until: 'lg') {
                    margin-top: toRem(0);
                    p {
                      padding-bottom: 0;
                    }
                  }
                }
              }

              &:last-child {
                iframe {
                  width: 100%;
                  height: toRem(772);
                  @include media($until: 'lg') {
                    width: 100vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  + .wp-block-group {
    margin-top: toRem(140);
    @include media($until: 'lg') {
      margin-top: toRem(80);
    }
  }
}
