.gaedi-carousel {
  &.teaser-image-text {
    margin-top: toRem(120);
  }
  &.three-items-fullwidth {
    .carousel {
      padding: 0;
      .carousel-item {
        .wp-block-image {
          img {
            border-right: 30px solid transparent;
          }
        }
      }
    }
    .carousel-control-prev {
      margin-right: 5.2%;
    }
    .carousel-control-next {
      margin-right: 5%;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      height: 49%;
      margin-top: -50%;
      left: 0;
      right: 0;
      background: url('../img/bg-beige-dark.png') repeat;
    }
  }
  @include media($until: 'xl') {
    .wp-block-columns {
      &:first-child {
        .col-12 {
          h2 {
            padding: 0;
          }
        }
      }
    }
  }
  .wp-block-columns {
    &:last-child {
      margin-right: -11vw;
      @include media($from: 'sm', $until: 'lg') {
        margin-right: -22vw;
      }
      @include media($until: 'sm') {
        margin-right: initial;
      }
    }
  }

  @include media($until: 'sm') {
    .wp-block-columns {
      &:first-child {
        .col-12 {
          padding-left: 23px;
          h2 {
            padding: 0;
          }
        }
      }
      &:last-child {
        .carousel {
          margin: auto 15px;
          @include media($until: 'sm') {
            margin: 0;
            padding-left: 15px;
            padding-right: 3px;
          }
          .carousel-inner {
            .carousel-item {
              > div {
                width: 100%;
                display: none;
                &:first-child {
                  display: block;
                }
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .carousel-item {
    .wp-block-image {
      img {
        border-right: 30px solid $gaedi-beige;
        @include media($until: 'sm') {
          border-right: 0;
        }
      }
    }
    p {
      margin-top: toRem(10);
      font-size: toRem(17);
    }
  }

  .carousel-inner {
    .carousel-item {
      &.active {
        display: flex;
      }
    }
    .carousel-item-next,
    .carousel-item-prev {
      display: flex;
    }
  }

  //   @include media($from: 'sm') {
  //     .carousel-inner {
  //       .carousel-item-end {
  //         &.active {
  //           transform: translateX(33.333%);
  //         }
  //       }
  //       .carousel-item-next {
  //         transform: translateX(33.333%);
  //       }

  //       .carousel-item-start {
  //         &.active {
  //           transform: translateX(-33.333%);
  //         }
  //       }
  //       .carousel-item-prev {
  //         transform: translateX(-33.333%);
  //       }
  //     }
  //   }

  .carousel-inner {
    .carousel-item-end,
    .carousel-item-start {
      transform: translateX(0);
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    left: inherit;
    top: -61px;
    @include media($until: 'sm') {
      top: -50px;
    }
    bottom: inherit;
    opacity: 1;
    width: 33px;
  }
  .carousel-control-prev {
    right: 165px;
    @include media($until: 'sm') {
      right: toRem(60);
    }
    .carousel-control-prev-icon {
      background-image: escape-svg($arrow-left-black);
    }
  }
  .carousel-control-next {
    right: 125px;
    @include media($until: 'sm') {
      right: toRem(20);
    }
    .carousel-control-next-icon {
      background-image: escape-svg($arrow-right-black);
    }
  }

  + .wp-block-group {
    margin-top: toRem(120);
  }
}

// @media screen and (min-width: 576px) {
//   .gastgeberCarousel .carousel-item-end.active {
//     transform: translateX(33.333%);
//   }
//   .gastgeberCarousel .carousel-item-next {
//     transform: translateX(33.333%);
//   }
//   .gastgeberCarousel .carousel-item-start.active {
//     transform: translateX(-33.333%);
//   }
//   .gastgeberCarousel .carousel-item-prev {
//     transform: translateX(-33.333%);
//   }
// }
