.custom-posttype-filtered-list {
  .wp-block-categories {
    padding-left: 0;
    margin-bottom: toRem(60);
    .cat-item {
      display: inline-block;
      margin-right: toRem(40);
      a {
        font-size: toRem(20);
        font-weight: $gaedi-lato-bold-weight;
        text-transform: uppercase;
        letter-spacing: toRem(0.44);
        &:hover {
          color: black;
          border-bottom: 2px solid $gaedi-black;
        }
        &.active {
          border-bottom: 2px solid $gaedi-black;
        }
        @include media($until: 'lg') {
          line-height: 2.5;
        }
      }
    }
  }

  .wp-block-columns {
    .carousel {
      .wp-block-post-template {
        .wp-block-post {
          &.carousel-item {
            .wp-block-group__inner-container {
              margin-right: toRem(20);

              .wp-block-post-title {
                margin-top: toRem(20);
              }
            }
          }
        }
      }
    }
  }

  .carousel-inner {
    @include media($until: 'sm') {
      width: 359vw;
    }
    .carousel-item {
      &.active {
        display: flex;
      }
    }
    .carousel-item-next,
    .carousel-item-prev {
      display: flex;
    }
  }

  .carousel-inner {
    .carousel-item-end,
    .carousel-item-start {
      transform: translateX(0);
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    left: inherit;
    top: -61px;
    @include media($until: 'sm') {
      top: -50px;
    }
    bottom: inherit;
    opacity: 1;
    width: 33px;
  }
  .carousel-control-prev {
    right: 165px;
    @include media($until: 'sm') {
      right: 27.5vw;
    }
    .carousel-control-prev-icon {
      background-image: escape-svg($arrow-left-black);
    }
  }
  .carousel-control-next {
    right: 125px;
    @include media($until: 'sm') {
      right: 18vw;
    }
    .carousel-control-next-icon {
      background-image: escape-svg($arrow-right-black);
    }
  }

  .wp-block-post-template {
    .wp-block-post {
      margin-bottom: toRem(60);
      .wp-block-post-featured-image {
        margin-bottom: toRem(40);
      }

      .wp-block-post-title {
        margin-top: toRem(40);
      }
      .wp-block-post-excerpt {
        margin-bottom: toRem(30);
      }
      .wp-block-read-more {
        color: white;
        margin-right: toRem(15);
        font-size: toRem(18);
      }
      .wp-block-read-more,
      .wp-block-buttons {
        display: inline-block;
      }

      .wp-block-read-more {
        @include gaedi-button(true);
      }
      .wp-block-buttons .wp-block-button__link {
        @include gaedi-button();
      }
      @include media($until: 'lg') {
        //display: block;
        width: 90% !important;
      }
    }
  }
}
