.section-dark-bg-icons-text {
  padding-top: toRem(120);
  padding-bottom: toRem(120);

  background-color: $gaedi-beige-dark;
  .wp-block-columns {
    .wp-block-column {
      text-align: center;
      .wp-block-image {
        margin-bottom: toRem(40);
        img {
          height: toRem(80);
        }
      }
    }
  }
  + .wp-block-group {
    margin-top: toRem(140);
  }
}
