.header-teaser {
  .container {
    padding-right: 0;
    background-color: $gaedi-beige;

    @include media($until: 'xl') {
      padding-left: 0;
      background-color: $gaedi-beige-dark;
    }
    background-image: url('../img/bg-beige-dark.png');
    @include media($until: 'lg') {
      background-image: none;
      background-color: transparent;
    }
    background-repeat: repeat-x;
    background-size: 44%;
    .col-lg-6 {
      &:last-child {
        figure {
          img {
            min-width: 100%;
            @include media($until: 'lg') {
              position: absolute;
              left: 0;
              z-index: -1;
            }
          }
        }
      }

      &:first-child {
        display: grid;
        align-content: center;
        .wp-block-group {
          padding-left: 5%;
          padding-right: 5%;
          @include media($until: 'lg') {
            margin-top: 40vh;
            padding-top: toRem(40);
            padding-bottom: toRem(40);
            text-align: center;
            background-color: $gaedi-beige-dark;
          }
          @include media($from: 'md', $until: 'lg') {
            margin-top: 80vh;
          }
          @include media($until: 'sm') {
            margin-top: 20vh;
          }
          @include media($until: 'xl') {
            h1 {
              font-size: toRem(35);
            }
          }
          @include media($until: 'lg') {
            p {
              padding-top: toRem(20);
              padding-bottom: toRem(30);
            }
          }
          .wp-block-button__link {
            @include gaedi-button();
          }
        }
      }
    }
  }
  + .wp-block-group {
    margin-top: toRem(140);
  }
}
