.gaedi-forms {
  .wp-block-columns {
    @include media($from: 'lg') {
      @include make-container(5%);
    }
    .wp-block-column {
      .wp-block-contact-form-7-contact-form-selector {
        input,
        textarea,
        select {
          height: toRem(77);
          padding-left: toRem(40);
          margin-bottom: toRem(20);
          border: 0;
          color: $gaedi-black;
          width: 100%;
          &::placeholder {
            font-size: toRem(20);
            color: $gaedi-black;
            opacity: 1;
          }
        }
        textarea {
          padding-top: toRem(23);
        }
        .wpcf7-not-valid-tip {
          color: #dc3232;
          top: -15px;
          position: relative;
        }
        input[type='submit'] {
          padding: 0;
          color: white;
          text-transform: uppercase;
          background-color: $gaedi-brown;
        }
        select {
          appearance: none;
        }

        p {
          margin: 0;
          &.blockLabel {
            font-weight: $gaedi-lato-bold-weight;
            margin-bottom: toRem(20);
          }
          span.wpcf7-form-control-wrap {
            &:after {
              content: '';
              background-image: escape-svg($chevron-down-black);
              background-repeat: no-repeat;
              position: absolute;
              width: toRem(40);
              height: 100%;
              z-index: 9;
              top: toRem(4);
              right: toRem(7);
            }
          }
        }
        .datepicker {
          position: relative;
          .input-group-text {
            background-image: escape-svg($calendar-black);
            background-repeat: no-repeat;
            position: absolute;
            width: toRem(45);
            z-index: 9;
            top: 15px;
            right: 15px;
            background-size: 100%;
            height: 100%;
            cursor: pointer;
          }
        }
        .spacerBig {
          height: toRem(180);
        }
      }
    }
  }
}
