.gaedi-carousel {
  &.teaser-image-text {
    overflow-x: hidden;
    margin-right: 0;
    margin-top: toRem(160);
    @include media($until: 'lg') {
      max-width: 94%;
    }
    @include media($from: 'lg', $until: 'xl') {
      max-width: 90%;
    }
    @include media($from: 'xxl') {
      .carousel-inner {
        .wp-block-group__inner-container {
          width: inherit;
          .wp-block-image {
            width: 24vw;
          }
        }
      }
    }
    @include media($until: 'sm') {
      margin-top: toRem(60);
      .carousel-inner {
        width: 440vw !important;
      }
    }
    @include media($until: 'lg') {
      .carousel-inner {
        width: 150%;
      }
    }
  }

  &.three-items-fullwidth {
    @include media($until: 'md') {
      padding: 0;
    }
    .carousel-nav {
      margin-top: 0;
    }
    .carousel-indicators {
      @include media($until: 'xl') {
        margin-right: 0;
      }
    }
    .wp-block-group__inner-container {
      .wp-block-columns {
        @include media($until: 'md') {
          margin: 0 toRem(-15) 0 0;
        }
        .carousel {
          padding: 0;
          .carousel-item {
            background-color: transparent;
            .wp-block-group__inner-container {
              width: inherit;
            }
          }
        }
      }
    }
  }
  &.one-item-containerwidth {
    @include make-container(8vw);
    .carousel {
      padding: 0;
      .carousel-item {
        .wp-block-group__inner-container {
          margin-right: inherit;
        }
      }
      .carousel-control-prev {
        margin-right: 5.2%;
        @include media($until: 'lg') {
          margin-right: 1.5vw;
        }
      }
      .carousel-control-next {
        margin-right: 5%;
        @include media($until: 'lg') {
          margin-right: 2vw;
        }
      }
    }
  }
  @include media($until: 'xl') {
    .wp-block-columns {
      &:first-child {
        .col-12 {
          h2 {
            padding: 0;
          }
        }
      }
    }
  }
  .wp-block-columns {
    &:last-child {
      margin-right: -11vw;
      @include media($from: 'sm', $until: 'xxl') {
        margin-right: -22vw;
      }
      @include media($until: 'sm') {
        margin-right: initial;
      }
    }
  }

  @include media($until: 'sm') {
    .wp-block-columns {
      &:first-child {
        .col-12 {
          padding-left: 23px;
          h2 {
            padding: 0;
          }
        }
      }
      &:last-child {
        .carousel {
          margin: auto 15px;

          margin: 0;
          padding-left: 15px;
          padding-right: 3px;
          .carousel-inner {
            width: 267vw;
          }
        }
      }
    }
  }
  .carousel-item {
    background-color: $gaedi-beige;
    .wp-block-group__inner-container {
      width: toRem(405);
      border-right: toRem(30) solid transparent;
      @include media($until: 'lg') {
        border-right: toRem(15) solid transparent;
      }

      @include media($until: 'sm') {
        width: 21.0625rem;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      &.active {
        display: flex;
      }
    }
    .carousel-item-next,
    .carousel-item-prev {
      float: left;
      display: flex;
    }
  }

  .carousel-inner {
    .carousel-item-end,
    .carousel-item-start {
      transform: translateX(0);
    }
  }
  @include gaedi-carousel-nav();

  + .wp-block-group {
    margin-top: toRem(120);
    @include media($until: 'lg') {
      margin-top: toRem(60);
    }
  }
}
