.single-zimmer,
.single-packages {
  .article-h1 {
    margin-top: toRem(80);
    text-align: center;
  }
  .teaser-centered {
    .wp-block-columns {
      .container {
        h4 {
          display: none;
        }
      }
    }
    &::after {
      background: none;
    }
  }
  .gaedi-carousel {
    &.three-items-fullwidth {
      &::before {
        background: none;
      }
    }
  }
  .custom-posttype-filtered-list {
    .wp-block-columns {
      &:nth-child(2) {
        margin-right: -11vw;
        @include media($from: 'sm', $until: 'lg') {
          margin-right: -22vw;
        }
      }
    }
  }
}
.single-packages {
  .teaser-centered {
    .wp-block-columns {
      .container {
        p {
          font-size: toRem(35);
          font-weight: $gaedi-lato-bold-weight;
        }
      }
    }
  }
}
