.fullwidth-bg-image-overlay-text {
  @include media($from: 'lg') {
    @include make-container(5%);
  }
  .wp-block-cover {
    @include media($until: 'xl') {
      min-height: toRem(420) !important;
    }
    .wp-block-cover__inner-container {
      margin-bottom: -15%;
      @include media($until: 'sm') {
        margin-bottom: -50%;
      }
      .container {
        @include media($until: 'sm') {
          padding-right: toRem(10);
          padding-left: toRem(10);
        }
        p {
          color: white;
          margin: 0;
          line-height: 1.2;
          &:first-child {
            font-family: $gaedi-shadowsIntoLightTwo;
            font-size: toRem(80);
            @include media($until: 'xl') {
              font-size: toRem(30);
            }
          }
          &:nth-child(2) {
            font-size: toRem(70);
            margin-bottom: toRem(40);
            @include media($until: 'lg') {
              font-size: toRem(30);
              margin-bottom: toRem(20);
            }
          }
          &:last-child {
            font-size: toRem(20);
            @include media($until: 'xl') {
              font-size: toRem(14);
            }
            @include media($until: 'sm') {
              font-size: toRem(12);
              padding: toRem(10) toRem(20);
              bottom: toRem(-17);
            }
            background-color: $gaedi-brown;
            padding: toRem(20);
            position: absolute;
            right: 0;
            bottom: -30px;
            text-transform: uppercase;
            &::before {
              content: '\2713';
              margin-right: toRem(10);
            }
          }
        }
        .wp-block-button {
          @include media($until: 'xl') {
            display: none;
          }
          &:first-child {
            margin-right: toRem(15);
          }
          .wp-block-button__link {
            @include gaedi-button();
          }
        }
      }
    }
  }
  &.flowtext {
    .wp-block-cover {
      .wp-block-cover__inner-container {
        @include media($until: 'lg') {
          margin-bottom: 0;
        }
        .container {
          p {
            &:first-child {
              @include media($until: 'sm') {
                font-size: toRem(30);
              }
              @include media($from: 'sm', $until: 'xl') {
                font-size: toRem(60);
              }
            }
            &:nth-child(2) {
              font-size: toRem(20);
              margin-top: toRem(20);
              margin-bottom: toRem(30);
            }
          }
          .wp-block-buttons {
            .wp-block-button {
              display: block;
            }
          }
        }
      }
    }
  }
  + .introtext-centered-sun-icon-title {
    margin-top: toRem(140);
    @include media($until: 'sm') {
      margin-top: toRem(60);
    }
  }
}
