/* Global styles */

body {
  background-color: $gaedi-beige;
  color: $gaedi-black;
}

@include media($from: 1550px, $until: 1800px) {
  .container {
    max-width: 90%;
  }
}
@include media($from: 1801px) {
  .container {
    max-width: toRem(1700);
  }
}

// .content-wrapper {
//   margin-top: toRem(238);
//   @include media($until: 'xl') {
//     margin-top: toRem(194);
//   }
// }

/* a-tag href content */

a {
  color: $gaedi-black;
  text-decoration: none;
}

/* buttons */

.btn-primary {
  font-size: toRem(20);
  text-transform: uppercase;
  outline: none;
  background-color: $gaedi-brown;
  border: 0;
  border-radius: 0;
  color: white;
  padding: toRem(10) toRem(15);
  margin-right: toRem(13);
  &:hover,
  &:active {
    background-color: white;
    color: $gaedi-black;
    border-color: transparent;
    &:focus {
      box-shadow: none;
    }
  }
}

*:focus {
  outline: 0 !important;
}

/* form input */
input[type='radio'],
input[type='checkbox'] {
  position: absolute;
  left: -999em;
}

input[type='checkbox'] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 0;
  margin-right: 10px;
}
input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  width: 1ex;
  height: 0.5ex;
  top: 10px;
  left: 9px;
  border: 3px solid $gaedi-brown;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

/* text formatting */

/* headings  */

/* margins */
h1,
h2,
h3,
h4 {
  margin-bottom: toRem(20);
}
/* colors */
h1,
h2,
h3 {
  color: $gaedi-brown;
}
h4 {
  color: $gaedi-black;
}
/* sizes */
h1 {
  font-size: 75px;
  @include media($until: 'sm') {
    font-size: 24px;
  }
}
h2 {
  font-size: 55px;
  @include media($until: 'sm') {
    font-size: 40px;
  }
}
h3 {
  font-size: 40px;
  @include media($until: 'sm') {
    font-size: 20px;
  }
}
h4 {
  font-size: 35px;
  @include media($until: 'sm') {
    font-size: 18px;
  }
}

/* paragraph */

p {
  font-size: 20px;
  font-weight: $gaedi-lato-regular-weight;
  line-height: 1.4;
}
strong {
  font-weight: $gaedi-lato-bold-weight;
}

/* blockquote */

blockquote {
  p {
    font-size: toRem(35);
    line-height: 1.2;
  }
}

/* Table font-sizes */

table {
  tr {
    th {
      font-size: 45px;
    }
  }
}

/* lists style */
header,
section,
footer {
  ul {
    list-style-type: none;
  }
}
