html :where(.wp-block) {
  max-width: 100%;
  margin: 0;
}

body.page-editor-page .editor-post-title__block,
body.page-editor-page .editor-default-block-appender,
body.page-editor-page .editor-block-list__block {
  max-width: none !important;
}
.block-editor__container .wp-block {
  max-width: none !important;
}

html .wp-block .wp-block-column {
  //display: inherit;
  //margin: inherit !important;
  box-sizing: inherit !important;
  flex-wrap: inherit !important;
  align-items: inherit !important;
}

.block-editor-block-list__block .carousel-item {
  display: inline-block;
  margin-right: inherit;
  width: inherit;
}

/* 
* gutenberg frontend reset 
*/

.wp-block-columns {
  flex-wrap: wrap !important;
}

/* buttons */

.wp-block-button__link {
  padding: toRem(14) toRem(20) toRem(10);
  cursor: pointer;
}

/* disable default styling */
@include media($until: 'xl') {
  .content-wrapper {
    .wp-block-columns {
      &:not(.is-not-stacked-on-mobile) {
        > .wp-block-column {
          flex-basis: inherit !important;
          flex-grow: inherit;
        }
      }
    }
  }
}

@include media($from: 'md') {
  .content-wrapper {
    .wp-block-columns {
      &:not(.is-not-stacked-on-mobile) {
        > .wp-block-column {
          flex-basis: inherit !important;
          flex-grow: inherit;
        }
      }
    }
  }
}

/* colors */
.has-orange-color {
  color: $orange;
}
.has-yellow-background-color {
  background-color: $yellow;
}

.wp-block-columns {
  margin-bottom: 0;
}
.wp-block-image {
  margin: 0;
}

/* image captions */

.wp-block-image figcaption {
  margin-top: -40px;
  position: absolute;
  margin-left: 20px;
  color: $white;
}
