header {
  @include media($until: 'xl') {
    padding-top: toRem(40);
    padding-bottom: toRem(40);
  }
  .gaedi-logo-main {
    svg {
      width: toRem(170);
    }
  }
  .navbar {
    background-color: $gaedi-beige;
    flex-wrap: wrap;
    @include media($until: 'xl') {
      padding-top: 0;
      padding-top: toRem(10);
    }
    @include media($from: 'xl') {
      padding-bottom: 0;
    }
    .justify-content-center {
      width: 100%;
      text-align: center;

      .navbar-brand {
        @include media($until: 'xl') {
          margin: 0;
        }
      }
      .navbar-toggler {
        border: 0;
        color: transparent !important;
        &:focus,
        &:focus-visible,
        &:focus-within {
          color: transparent !important;
        }
        @include media($until: 'xl') {
          position: absolute;
          right: toRem(15);
        }
      }
      .navbar-collapse {
        flex-basis: 100%;
        &.fixedNav {
          position: fixed;
          top: toRem(-100);
          z-index: 99;
          transition: 0.6s ease-out;
          background-color: $gaedi-beige;
          box-shadow: 0px 9px 12px -3px rgb(0 0 0 / 20%);
          .meta-menu {
            display: none;
          }
          &::before {
            content: '';
            background-image: url('../img/gaedi-logo.svg');
            position: absolute;

            left: 0;
            height: 100%;
            width: 200px;
            background-size: 23%;
            background-repeat: no-repeat;
            background-position: 15%;
          }
        }
      }
    }
  }
}
