header {
  .gaedi-logo-main {
    svg {
      width: toRem(170);
    }
  }
  .navbar {
    background-color: $gaedi-beige;
    flex-wrap: wrap;
    @include media($until: 'xl') {
      padding-top: 0;
    }
    .justify-content-center {
      width: 100%;
      text-align: center;
      @include media($until: 'xl') {
        padding-top: toRem(10);
        padding-bottom: toRem(30);
      }
      .navbar-brand {
        @include media($until: 'xl') {
          margin: 0;
        }
      }
      .navbar-toggler {
        border: 0;
        color: transparent !important;
        &:focus,
        &:focus-visible,
        &:focus-within {
          color: transparent !important;
        }
        @include media($until: 'xl') {
          position: absolute;
          top: toRem(20);
          right: toRem(15);
        }
      }
      .navbar-collapse {
        flex-basis: 100%;
      }
    }
  }
}
