header {
  .navbar {
    .navbar-nav {
      padding-top: toRem(10);
      @include media($until: 'xl') {
        padding-top: toRem(30);
      }
      .nav-item {
        &:not(:last-child) {
          margin-right: 15px;
        }

        @include media($from: 'xl') {
          &:hover .dropdown-menu {
            display: block;
          }
        }

        @include media($until: 'xl') {
          margin-left: toRem(15);
        }
        .nav-link {
          font-family: $gaedi-lato;
          font-weight: $gaedi-lato-bold-weight;
          font-size: toRem(20);
          text-transform: uppercase;
          letter-spacing: toRem(0.8);
          color: $gaedi-black;
          padding-bottom: toRem(25);
          @include media($from: 'xl') {
            padding-bottom: toRem(20);
          }
          @include media($until: 'xl') {
            &.dropdown-toggle {
              margin-left: toRem(40);
            }

            display: inline-block;
          }
          &:hover {
            color: $gaedi-brown;
          }
          @include media($until: 'xl') {
            &:after {
              border: 0;
            }
          }
        }

        .dropdownToggleMobile {
          display: inline-block;
          margin-left: 14px;
          margin-bottom: 5px;
          position: relative;

          @include media($from: 'xl') {
            display: none;
          }

          border-top: toRem(7) solid;
          border-right: toRem(7) solid transparent;
          border-bottom: 0;
          border-left: toRem(7) solid transparent;
          &::after {
            position: absolute;
            margin-left: toRem(-20);
            margin-top: toRem(-25);
            content: '';
            width: toRem(40);
            height: toRem(40);
            border: 1px solid $gaedi-black;
          }
          &.show {
            border-top: 0;
            border-bottom: toRem(7) solid;
            &:after {
              margin-top: toRem(-18);
            }
          }
        }
        &.dropdown {
          position: inherit;
          .dropdown-menu {
            border: 0;
            border-radius: 0;
            left: inherit;
            margin-top: 0;
            margin-right: toRem(20);
            padding: toRem(25);
            box-shadow: 0px 9px 12px -3px rgba(0, 0, 0, 0.2);
            @include media($until: 'xl') {
              margin-right: 0;
              margin-bottom: toRem(25);
              text-align: center;
            }
            li {
              display: inline-block;
              @include media($until: 'xl') {
                display: block;
              }
              .dropdown-item {
                font-size: toRem(20);
                letter-spacing: toRem(0.8);
                font-weight: $gaedi-lato-bold-weight;
                @include media($until: 'xl') {
                  padding-top: toRem(10);
                  padding-bottom: toRem(10);
                }
                &:hover {
                  background-color: transparent;
                  color: $gaedi-brown;
                }
              }
            }
          }
        }
      }
    }
  }
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    background-color: $gaedi-bordeaux;
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
  }
  span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
  }

  &.open {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
      left: 8px;
    }
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 21px;
      left: 8px;
    }
  }
}
