header {
  .gaedi-logo-main {
    svg {
      width: toRem(170);
    }
  }
  .navbar {
    flex-wrap: wrap;
    .navbar-toggler {
      border: 0;
      color: transparent !important;
      &:focus,
      &:focus-visible,
      &:focus-within {
        color: transparent !important;
      }
    }
    .navbar-collapse {
      flex-basis: 100%;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
        }
      }
    }
  }
}
