header {
  .navbar {
    padding-bottom: 0;
    .navbar-nav {
      margin-top: toRem(10);
      .nav-item {
        &:not(:last-child) {
          margin-right: 15px;
        }
        @include media($until: 'xl') {
          margin-left: toRem(15);
        }
        .nav-link {
          font-family: $gaedi-lato;
          font-weight: $gaedi-lato-bold-weight;
          font-size: toRem(20);
          text-transform: uppercase;
          letter-spacing: toRem(0.8);
          color: $gaedi-black;
          &:hover {
            color: $gaedi-brown;
          }
        }
        &.dropdown {
          position: inherit;
          .dropdown-menu {
            border: 0;
            border-radius: 0;
            left: inherit;
            margin-top: 0;
            margin-right: toRem(20);
            padding: toRem(25);
            box-shadow: 0px 9px 12px -3px rgba(0, 0, 0, 0.2);
            @include media($until: 'xl') {
              margin: 0;
              text-align: center;
            }
            li {
              display: inline-block;
              @include media($until: 'xl') {
                display: block;
              }
              .dropdown-item {
                font-size: toRem(20);
                letter-spacing: toRem(0.8);
                font-weight: $gaedi-lato-bold-weight;

                &:hover {
                  background-color: transparent;
                  color: $gaedi-brown;
                }
              }
            }
          }
        }
      }
    }
  }
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    background-color: $gaedi-bordeaux;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
  }
  span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
  }

  &.open {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
      left: 8px;
    }
    span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 21px;
      left: 8px;
    }
  }
}
