.meta-menu {
  position: absolute;
  top: 0;
  @include media($from: 'xl') {
    top: toRem(20);
  }
  right: 5%;
  @include media($until: 'xl') {
    position: relative;
    top: inherit;
    right: inherit;
    margin: inherit;
    padding-bottom: toRem(40);
  }
  ul {
    margin-top: inherit;
    @include media($until: 'xl') {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      top: toRem(23);
      @include media($until: 'xl') {
        display: block;
      }
      a {
        position: relative;
        font-size: toRem(20);
        color: $gaedi-brown;
        text-transform: uppercase;
        padding: toRem(30) toRem(20) toRem(15);
        @include media($until: 'xl') {
          display: block;
          padding-top: toRem(10);
          padding-bottom: toRem(10);
        }
        &:hover {
          color: white;
          background-color: $gaedi-brown;
          &:after {
            color: transparent;
          }
        }
        @include media($until: 'xl') {
          font-size: toRem(20);
          line-height: 2.2;
        }
      }
      &:not(:last-child) {
        a {
          &:after {
            content: '|';
            position: absolute;
            margin-left: 20px;
            margin-top: 27px;
            top: 0;
            @include media($until: 'xl') {
              content: '';
            }
          }
        }
      }
      &.hidePipe {
        a {
          &:after {
            content: '';
          }
        }
      }
      &.current-menu-item {
        > a {
          color: white;
          background-color: $gaedi-brown;
        }
      }
    }
  }
}
