// Custom Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Media-Query Mixin
@mixin media($from: false, $until: false, $and: false, $media-type: all) {
  $min-width: 0;
  $max-width: 0;
  $query: '';

  //FROM: this breakpoint (inclusive)
  @if $from {
    @if type-of($from) == number {
      $min-width: $from;
    } @else {
      $min-width: map-get($breakpoints, $from);
    }
  }

  //UNTIL: this breakpoint (exclusive)
  @if $until {
    @if type-of($until) == number {
      $max-width: $until - 1px;
    } @else {
      $max-width: map-get($breakpoints, $until) - 1px;
    }
  }

  @if $min-width != 0 {
    $query: '#{$query} and (min-width: #{$min-width})';
  }
  @if $max-width != 0 {
    $query: '#{$query} and (max-width: #{$max-width})';
  }
  @if $and {
    $query: '#{$query} and (#{$and})';
  }

  @if ($media-type == 'all' and $query != '') {
    $media-type: '';
    $query: str-slice(unquote($query), 6);
  }

  /*   // hover: none
  @if ($media-type == 'mobile') {
    $media-type: '';
    $query: ' and (hover: none)';
  }
 */
  @media #{$media-type + $query} {
    @content;
  }
}

/* Usage:
.foo-bar {
  width: 50%;
  @include media($from: "sm", $until: 900px, $and:"orientation: landscape"){
      width: 100%;
  }
} */

@function toRem($value) {
  $remValue: (calc($value / 16)) + rem;
  @return $remValue;
}

@mixin make-container($padding-x: $container-fluid-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

/* buttons */

@mixin gaedi-button($invert: false) {
  @if $invert {
    color: $gaedi-black;
    border: 1px solid $gaedi-black;
    background-color: transparent;
    &:hover {
      border: 1px solid transparent;
    }
  } @else {
    background-color: $gaedi-brown;
    border: 1px solid $gaedi-brown;
    &:hover {
      background-color: white;
      color: $gaedi-black;
      border: 1px solid white;
    }
  }

  text-transform: uppercase;

  padding: toRem(15);
  @include media($until: 'sm') {
    padding: toRem(5) toRem(30);
  }
  border-radius: 0;
}

@mixin gaedi-container() {
  @include make-container(20%);
  @include media($from: 'xl', $until: 'xxl') {
    @include make-container(180px);
  }
  @include media($from: 'md', $until: 'xl') {
    @include make-container(100px);
  }
  @include media($until: 'md') {
    @include make-container(30px);
  }
}
