// Custom Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Media-Query Mixin
@mixin media($from: false, $until: false, $and: false, $media-type: all) {
  $min-width: 0;
  $max-width: 0;
  $query: '';

  //FROM: this breakpoint (inclusive)
  @if $from {
    @if type-of($from) == number {
      $min-width: $from;
    } @else {
      $min-width: map-get($breakpoints, $from);
    }
  }

  //UNTIL: this breakpoint (exclusive)
  @if $until {
    @if type-of($until) == number {
      $max-width: $until - 1px;
    } @else {
      $max-width: map-get($breakpoints, $until) - 1px;
    }
  }

  @if $min-width != 0 {
    $query: '#{$query} and (min-width: #{$min-width})';
  }
  @if $max-width != 0 {
    $query: '#{$query} and (max-width: #{$max-width})';
  }
  @if $and {
    $query: '#{$query} and (#{$and})';
  }

  @if ($media-type == 'all' and $query != '') {
    $media-type: '';
    $query: str-slice(unquote($query), 6);
  }

  /*   // hover: none
  @if ($media-type == 'mobile') {
    $media-type: '';
    $query: ' and (hover: none)';
  }
 */
  @media #{$media-type + $query} {
    @content;
  }
}

/* Usage:
.foo-bar {
  width: 50%;
  @include media($from: "sm", $until: 900px, $and:"orientation: landscape"){
      width: 100%;
  }
} */

@function toRem($value) {
  $remValue: (calc($value / 16)) + rem;
  @return $remValue;
}

@mixin winkButton() {
  .et_pb_button,
  .button {
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: 0 !important;
    border-radius: 0;
    padding: 10px 20px 10px 0 !important;
    color: $gaedi-black;

    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: none;
    &:hover {
      transition: none;
      background-color: transparent;
    }
    &::after {
      font-family: ETmodules;
      font-size: 30px;
      content: '\24';
      position: relative;
      top: 7px;
      margin-left: 10px;
      opacity: 1;
    }
  }
}
@mixin winkTag() {
  a {
    font-family: $gaedi-CabinetGroteskExtrabold;
    font-size: 18px;
    letter-spacing: 1.2px;
    border: 0;
    border: $gaedi-tag-border-size $gaedi-black;
    border-radius: 100px;
    padding: 6px 10px;
    margin: 0 0 20px 30px;
    @include diviBreakpoint(1580) {
      margin-left: 5px;
    }
    display: inline-block;
    &:hover {
      border: $gaedi-tag-border-size $gaedi-bordeaux;
      background-color: $gaedi-bordeaux;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
