/* Theme colors */
$gaedi-beige: #faf3dd;
$gaedi-beige-dark: #ded2aa;
$gaedi-black: #000;
$gaedi-bordeaux: #800b0e;
$gaedi-brown: #80000a;

/* Font weight */
$gaedi-light: 300;
$gaedi-semibold: 400;
$gaedi-bold: 600;

/* font family */

$gaedi-CabinetGroteskExtrabold: CabinetGroteskExtrabold;
$gaedi-CabinetGroteskLight: CabinetGroteskLight;
$gaedi-SwitzerMedium: SwitzerMedium;
$gaedi-SwitzerRegular: SwitzerRegular;
$gaedi-SwitzerLight: SwitzerLight;
$gaedi-SwitzerBold: SwitzerBold;

$gaedi-shadowsIntoLightTwo: shadowsIntoLightTwo;
$gaedi-lato-regular: 'Lato', sans-serif;

/* wink borders size */
$gaedi-tag-border-size: 2px solid;
$gaedi-horizontal-border-size: 3px solid;
